@import 'tailwindcss';
@import './font.css';

body {
  font-family: 'Inter';
  position: relative;
  height: 100vh;
  width: 100vw;
  user-select: none;
  -webkit-app-region: no-drag;
}

* {
  font-family: 'Inter' !important;
}

#root {
  height: 100%;
}

html,
body {
  font-size: 90%;
}

/* resposive */
@media (max-width: 1200px) {
  html,
  body {
    font-size: 90%;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes scale-bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

/* Use only float + optional scale (NO rotate) */
.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}

.animate-float-medium {
  animation: float 4s ease-in-out infinite;
}

.animate-float-fast {
  animation: float 2.5s ease-in-out infinite;
}

.animate-scale-bounce {
  animation: scale-bounce 5s ease-in-out infinite;
}

.project-right-side-text {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
}

.bg-gradient {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      195deg,
      #00001b -0.86%,
      #6b1e60 35.63%,
      #e540ad 64.16%,
      #41eff9 96.43%
    );
}

.animate-rotate {
  animation: rotate 5s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: translateX(0deg);
  }
}
